In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import pandas_datareader.data as web

这是使用了pandas_datareader的股票价格和成交量

唯一值，值计数以及成员资格

In [4]:
obj = pd.Series(['c','a','d','a','a','b','b','c','c'])

In [5]:
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [6]:
uniques = obj.unique()

In [7]:
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

In [8]:
uniques.sort()

In [9]:
uniques

array(['a', 'b', 'c', 'd'], dtype=object)

In [10]:
obj.value_counts()#用于计算一个Series中各值出现的频率

c    3
a    3
b    2
d    1
dtype: int64

In [11]:
pd.value_counts(obj.values,sort=False)

b    2
d    1
a    3
c    3
dtype: int64

isin用于判断矢量化集合的成员资格，可用于过滤Series中或DataFrame列中数据的子集：

In [12]:
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [13]:
mask = obj.isin(['b','c'])

In [14]:
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [15]:
obj[mask]

0    c
5    b
6    b
7    c
8    c
dtype: object

In [16]:
data = pd.DataFrame({'Qu1':[1,3,4,3,4],
                    'Qu2':[2,3,1,2,3],
                    'Qu3':[1,5,2,2,4]})

In [17]:
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    2
4    4    3    4

将pandas.value_counts传给该DataFrame的apply函数，就会出现：

In [18]:
result = data.apply(pd.value_counts).fillna(0)

In [19]:
result

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  2.0
3  2.0  2.0  0.0
4  2.0  0.0  1.0
5  0.0  0.0  1.0

这里，结果中的行标签是所有列的唯一值。后面的频率值是每个列中这些值的相应计数。